//tamaño de Media Queries
$telefono:320px;
$tablet:768px;
$desktop:1024px;

//fuente
$fuente: 'Gotham-Bold", sans-serif';

//colores
$color_text_primario: #333333;
$color_text_secundario:#ffffff;
$color_text_titulo:#126ABF;
