//tamaño de Media Queries
$telefono:320px;
$tablet:768px;
$desktop:1024px;

//fuente
$fuente_bold:'Gotham-Bold', sans-serif;
$fuente_italic:'Gotham-Italic', sans-serif; 

//colores
$color_text_primario: #333333;
$color_text_secundario:#ffffff;
$color_text_titulo:#126ABF;
