
@import 'variables';
@import 'mixins';

html{
    @include box-sizing(border-box);
    font-family: $fuente;

}
*,
*:after,
*:before{
   @include box-sizing(inherit);
}

.contenedor {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}
.banner_main{
    img{
        max-width: 100%;
    }
}
.Content_edition{
   width: 60%;
   height: 450px;
   text-align: center;
   img{
       margin: 3%;
   }

   hr{
       width: 20%;
      
       margin-bottom: 5%;
       border: 1px solid #86aace;
   }
   h1{
       text-transform: uppercase;
       color: #126abf;
       font-size: 1.3rem;
       margin-bottom: 2%;
       font-family: $fuente;
   }
   p{
       font-size: 1rem;
       margin: 2%;
   }

   span{
       font-size: 1rem;
       margin: 2%;
   }
}
.banner_viroblock{
    background-image: url(../img/banner_viroblock.png);
    min-height: 230px;
    margin: 2% 0;
    img{
        max-width: 100%;
    }
    .text_viroblock{
        width: 46%;
        position: absolute;
        min-height: 230px;
        margin-left: 54%;
        text-align: left;
        background-color:#000000e3;
        color: $color_text_secundario;
        .container_text{
            margin: 5% 0 0 5%;
            padding: 1rem 1rem;
            h2{
                font-size: 2rem;
            }
            .title_span{
                font-size: 2rem;
                font-weight: bold;
            }
            p{
                padding: 10px 5px;
               
            }
           
        }

    }

   
   
}
.section_info_iconos{
    background-color: #EDEDED;
    height: 12rem;
}
.iconos_banner{
   display: grid;
   grid : 100% / 33.3% 33.3% 33.3%;
   height: 150px;
    margin-top: -2%;
   
    color:$color_text_primario;

    .content_barra{
        display: flex;
        img{
            padding: 10% 0;
        }
        .text_barra{
            width: 50%;
            padding: 10% 0;
            h3{
                color: black;
            }
        }
       
    }

   }

   .img_separador{
    .separador1{
        img{
            margin-left: 50%;
        }
    }

    .separador2{
       margin:5% 0 ;
    }
}  


.text_description{
    text-align: center;
    padding: 0 3% 5%;
    
    h2{
        color: $color_text_titulo;
        font-size: 1.8rem;
    }
    span{
        color: $color_text_titulo;
   
    }
    p{
        padding: 1%;
    }

}
.container_banner3{
  background-image: url(../img/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 24rem;
  color: $color_text_titulo;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
 
}
.container_icon{
    display: flex;
    width: 55%;
    margin-left: 50%;

    .icon{
        flex-direction: column;
    }
 


}
   

   
    
    .icon{
        text-align: center;

    h2{
        margin: 1rem 0 2rem;
        font-size: 18px;
        
    }
 
   
   
    

    a{
        background-color: #ffffff;
        border-radius: 4px;
        padding: 0.7rem 1.5rem;
        text-decoration: none;
        color: #126abf;
        font-family: "Gotham-Medium", sans-serif;
    }
    }
    .video{

        img{
            width: 100%;
        }

       
    }





