
@import 'variables';
@import 'mixins';

html{
    @include box-sizing(border-box);
    font-family: $fuente_italic;
    background-color: #f2f2f2;

}
*,
*:after,
*:before{
   @include box-sizing(inherit);
}
@font-face {
    font-family: "Gotham", sans-serif;
    src: url(../fonts/Gotham/GothamBook.ttf);
    font-weight: normal;
  }
  @font-face {
    font-family: "Gotham-Italic", sans-serif;
    src: url(../fonts/Gotham/GothamBookItalic.ttf);
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Gotham-Italic", sans-serif;
    src: url(../fonts/Gotham/GothamBookItalic.ttf);
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Gotham-Bold", sans-serif;
    src: url(../fonts/Gotham/GothamBold.ttf);
    font-weight: bold;
  }
  @font-face {
    font-family: "Gotham-Light";
    src: url(../fonts/Gotham/GothamLight.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: "Gotham-Light-Italic";
    src: url(../fonts/Gotham/GothamLightItalic.ttf);
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Gotham-Medium", sans-serif;
    src: url(../fonts/Gotham/GothamMedium.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: "Gotham-Medium-Italic";
    src: url(../fonts/Gotham/GothamMediumItalic.ttf);
    font-weight: 600;
    font-style: italic;
  }

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.banner_main{
    img{
        max-width: 100%;
    }
}
.Content_edition{
   width: 60%;
   height: 450px;
   text-align: center;
   @include telefono() {
           width: 80%;
          
}
   img{
       margin: 3%;
       @include telefono() {
        margin: 5%;
        width: 100%;
    }
   }

   hr{
       width: 20%;
       margin-bottom: 5%;
       border: 1px solid #86aace;
   }
   h1{
       text-transform: uppercase;
       font-family: $fuente_bold;
       color:$color_text_titulo;
       font-size: 1.3rem;
       margin-bottom: 2%;
    
   }
   p{
       font-size: 1rem;
       margin: 2%;
       @include telefono() {
        line-height: 130%;;
        font-size: 1rem;
    }
   }

   span{
       font-size: 1rem;
       margin: 2%;
       font-family: $fuente_italic;
       color:$color_text_titulo;
          @include telefono() {
       font-size: 0.9rem;
    }
   }
}
.banner_viroblock{
    background-image: url(../img/banner_viroblock.png);
    min-height: 230px;
    margin: 2% 0;
    @include telefono() {
        margin: 20% 0 0;
    }
    img{
        max-width: 100%;
    }
    .text_viroblock{
        width: 46%;
        position: absolute;
        min-height: 230px;
        margin-left: 54%;
        text-align: left;
        background-color:#000000e3;
        color: $color_text_secundario;
        @include telefono() {
            display: none;
        }
        .container_text{
            margin: 5% 0 0 5%;
            padding: 1rem 1rem;
            position:absolute;
            h2{
                font-size: 2rem;
                font-family: $fuente_bold;
            }
            .title_span{
                font-size: 2rem;
                font-weight: bold;
            }
            p{
                padding: 10px 5px;
                font-family: $fuente_italic;
               
            }
           
        }

    }

   
   
}
.section_info_iconos{
    background-color: #EDEDED;
    height: 12rem;
    @include telefono() {
       height: 550px;
         }
}
.iconos_banner{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   height: 150px;
    margin-top: -2%;
    color:$color_text_primario;
    @include telefono() {
       grid-template-columns: auto;
        }

    .content_barra{
        display: flex;
        img{
            padding: 10% 0;
        margin-left: 10%;
        }
        .text_barra{
            width: 60%;
            padding: 10% 0;
            h3{
                color: black;
            }
        }
       
    }

   }

   .img_separador{
    .separador1{
        img{
            margin-left: 50%;
            margin-bottom: 5%;
        }
    }

    .separador2{
       margin:1% 0 ;
       @include telefono() {
        img{
            width: 100%;
        }
     }
    }

    .separador3{
        margin-left: 45.5%;
    }

}  


.text_description{
    text-align: center;
    padding: 0 3% 5%;
    color: #373737;
  
    
    h2{
        color: $color_text_titulo;
        font-size: 1.8rem;
        margin: 1.5%;
       
    }
    span{
        color: $color_text_titulo;
   
    }
    li{
        padding: 1% 0;
    }
    p{
       
        line-height: 130%;;
    }

}
.title_description{
    font-size: 12px;
   
}
.container_banner3{
  background-image: url(../img/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d2dae4;
  min-height: 25rem;
  color: $color_text_titulo;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  @include telefono() {
   min-height: 65rem;
   background-size: contain;
  

    }
 
}
.container_icon{
    display: flex;
    width: 55%;
    margin-left: 50%;
    @include telefono() {
        flex-direction:column;
        margin: 0 auto;
        }


    .icon{
        flex-direction: column;
    }
 
}
   
    
    .icon{
        text-align: center;
        padding: 20% 0;
       

    h2{
        margin: 1rem 0 2rem;
        font-size: 18px;
        font-family: $fuente_italic;
        font-weight: normal;
        @include telefono() {
            font-family: $fuente_bold;
            margin: 1.5rem;
           
            
            }
        
        
    }
 

    a{
        background-color: #ffffff;
        border-radius: 4px;
        padding: 0.7rem 3.5rem;
        text-decoration: none;
        color: #126abf;
        font-family: "Gotham-Medium", sans-serif;
        text-transform: uppercase;
        @include telefono() {
            
            margin: -2rem 0 2rem;
            
            }
        
    }
    }
    .video{

        img{
            width: 100%;
        }

       
    }

    .btn{
        margin-top: 22%;

        @include telefono() {
            
            margin: 0;
            
    }
}
.container_details{
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
    color: #373737;
    
    span{
        font-weight: bold;
    }

    .text_details{
        display:flex;
        margin: 3% 0;
        img{
            margin-right: 2%;
        }

      
        
    }
    
    a{
        background-color: #192A38;
        border-radius: 4px;
        padding: 0.7rem 3.5rem;
        text-decoration: none;
        color: #f2f2f2;
        font-family: "Gotham-Medium", sans-serif;
        text-transform: uppercase;
    }
}
.text_details_viro{
    margin: 5% 0;
}





.container_calidad{
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #373737;
    .especificacion_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title_especificacion_item{
            text-align:center ;
            margin-top: 5%;
         
            h2{
                font-size: 2rem;
            
        }

        }
        span{
        font-weight: bold;
        }
        img{
            margin: 1em 0 0;
           
        }

        ul{
            list-style: none;
            padding: 1.5em 0;
        }
        li{
            
           text-align: center;
           color: #373737;
           font-weight: 300;
           font-size: 17px;
           font-family: $fuente_italic;
           line-height: 25px;
        }
    }
}






